.App {
  text-align: center;
}

input {
  text-align: center;
  padding: 0.2em;
}
img {
  max-height: 60vh;
}

.userPage {
  padding: 1em;
  text-decoration: underline;
  position: absolute;
  left: 5px;
  top: 5px;
}

.userPage:hover {
  cursor: pointer;
  color: blue;
}

.likes {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.likes img {
  border-radius: 50%;
  border: 5px inset pink;
  margin: 1em;
  max-width: 40vw;
}

.closeLikes {
  border: 1px solid black;
  z-index: 2;
  position: absolute;
  right: 2em;
  top: 2em;
  padding: 1em 2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}

.closeLikes :hover {
  background-color: #3e8e41;
}

.closeLikes :active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.like-button{
  width: 5em;
  height: 5em;
}